.bash_history
.cache/*
*.com
.config/*
dev/*
.forever/*
.gem/*
.gnupg
.gvm
.local
localhost
log/*
.meteor/*
.meteorite/*
.meteorsession/*
.nave/*
.node-gyp/*
**/node_modules
.npm*/*
.nvm
.nvmrc
.pyenv/*
.rvm/*
.selected_editor
shared/log/*
.ssh/*
tmp/*
.v8flags*
.vim/*
.viminfo
.w3m
