.bash_history
.config/*
.forever/*
.gem/*
.gnupg
.gvm
.local
.meteor/*
.meteorite/*
.meteorsession/*
.nave/*
.node-gyp/*
.npm*/*
.nvm
.nvmrc
.pyenv/*
.rvm/*
.selected_editor
.ssh/*
.v8flags*
.vim/*
.viminfo
.w3m
.cache/*
*.com
**/node_modules
localhost
tmp/*
shared/log/*
dev/*
log/*
